<div class="wrapper">
       
            <div class="column-section clearfix">
                <div class="column one-fourth last-col align-center">
                    <i class="ion ion-ios-bookmarks-outline ion-6x"></i>
                    <h3>Lookbooks</h3>
                    <p>Your lookbook is a fashion blog filled with style tips, product reviews &amp; posts from our <a href="#">curated catalog</a>. Comment on posts to spark a discussion &amp; check out our <a href="#">seasonal lookbook</a> for unique style tips.</p>
                </div>
                <div class="column one-fourth align-center">
                    <i class="ion ion-bag ion-6x"></i>
                    <h3>Exclusive Catalog</h3>
                    <p>Browse our curated lists to find quality products. Click a recommended product to automatically apply an exclusive discount on our partner websites.</p>
                </div>
                <div class="column one-fourth align-center">
                    <i class="ion ion-ios-gear-outline ion-6x"></i>
                    <h3>Custom Style Tips</h3>
                    <p>Tell us what you like in your profile and we'll find fashion, cosmetic and hair products to match your style.</p>
                </div>
                <div class="column one-fourth align-center">
                    <i class="ion ion-ios-people-outline ion-6x"></i>
                    <h3>31.6 Community</h3>
                    <p>Browse community lookbooks to discover like-minded fashionistas. Grow your fanbase by connecting Facebook &amp; Instagram. Drive followers from your lookbook to your pages.</p>
                </div>
            </div>
       
        </div> <!-- END .wrapper -->