<div class="wrapper">
       
            <div class="column-section clearfix">
                <div class="column one-fourth align-center">
                    <i class="ion ion-ios-people-outline ion-6x"></i>
                    <h3>31.6 Community</h3>
                    <p>Build your lookbook &amp; spark a discussion on community lookbooks. Connect Facebook &amp; Instagram to drive followers from your lookbook to your pages.</p>
                </div>
                <div class="column one-fourth align-center">
                    <i class="ion ion-bag ion-6x"></i>
                    <h3>Exclusive Discounts</h3>
                    <p>Browse our curated lists to find quality products. Use links from our site to automatically apply exclusive discounts.</p>
                </div>
                <div class="column one-fourth align-center">
                    <i class="ion ion-ios-gear-outline ion-6x"></i>
                    <h3>Custom Style Tips</h3>
                    <p>Tell us what you like and we'll find fashion, cosmetic and hair products to match your style.</p>
                </div>
                <div class="column one-fourth last-col align-center">
                    <i class="ion ion-ios-bookmarks-outline ion-6x"></i>
                    <h3>Lookbooks</h3>
                    <p>Post articles, tips &amp; reviews to your lookbook. Comment on lookbooks &amp; check out <a href="#">Kelsie Ann's seasonal lookbook</a> for her unique style tips.</p>
                </div>
            </div>
       
        </div> <!-- END .wrapper -->