    <!-- FOOTER -->  
    <footer id="footer">
       	
        <div class="footer-bottom wrapper">
        	<div class="column-section clearfix">

            	<div class="column one-half">
                	<div class="widget widget_social">
                        <ul class="socialmedia-widget">
                            <li class="facebook"><a href="#"></a></li>
                            <li class="twitter"><a href="#"></a></li>
                            <li class="instagram"><a href="#"></a></li>
                            <li class="youtube"><a href="#"></a></li>
                            <li class="vimeo"><a href="#"></a></li>
                            <li class="mail"><a href="mailto:info@316beauty.io"></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="column one-half last-col align-right">
                 	<small>© 2017 - 31.6 Beauty</small>
                </div>
            </div>
        </div>
        
        <a id="backtotop" href="#"></a>
        
    </footer>
    <!-- FOOTER End -->