<!-- PAGE LOADER -->
<div id="page-loader" class="pulsing">
	<div class="loader-name">
        <img src="files/uploads/mylogo.png" srcset="files/uploads/mylogo.png 1x, files/uploads/mylogo@2x.png 2x" alt="Loader Logo">
        <!-- <span class="uppercase">31.6 Beauty</span> -->
    </div>
    <div class="loader-circle">
    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.4 253.4" style="enable-background:new 0 0 253.4 253.4;" xml:space="preserve"><circle cx="126.7" cy="126.7" r="124.2"/>
		</svg>
   	</div>
</div>
<!-- PAGE LOADER -->