<div ng-cloak class="nav-container">
    <nav class="nav-centered">
        <div class="nav-bar text-center">
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div ng-cloak class="module-group text-left">
                <div ng-show='!isUserLoggedIn()' class="module right">
                    <ul class="menu">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/join">
                                Join
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-show='isUserLoggedIn()' class="module right">
                    <ul class="menu">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/account">
                                Account
                            </a>
                         
                        </li>
                        <li>
                            <a ng-click='logout()' href="#">
                                Logout
                            </a>
                         
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>

    </nav>
</div>