<div ng-cloak class="nav-container">
    <nav class="nav-centered">
        <div class="nav-bar text-center">
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div ng-cloak class="module-group text-left">
                <div ng-show='currentUser.id == null ' class="module right">
                    <ul class="menu">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/products">
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/feed">
                                Feed
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-show='currentUser.id.length > 0 ' class="module right">
                    <ul class="menu">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/feed">
                                Feed
                            </a>
                        </li>
                        <li>
                            <a href="/products">
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                Logout
                            </a>
                         
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>

    </nav>
</div>