<!-- SCRIPTS -->
<script src="files/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="files/js/plugins.js"></script>
<script type="text/javascript" src="files/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="files/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="files/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="files/js/tweenMax.js"></script>
<script type="text/javascript" src="files/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="files/js/jquery.smartscroll.min.js"></script>
<script type="text/javascript" src="files/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="files/js/jquery.min.phatvideobg.js"></script>
<script type="text/javascript" src="files/js/jquery.owl.carousel.min.js"></script>
<script type="text/javascript" src="files/js/jquery.lightcase.min.js"></script>
<script type="text/javascript" src="files/js/jribbble.min.js"></script>
<script type="text/javascript" src="files/js/script.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>

<script src="bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/cloudinary-core/cloudinary-core.min.js"></script>
<script src="js/angular.cloudinary.js"></script>

<script src="../bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>


<script src="app/app.js"></script>
<script src="app/controllers/home.js"></script>
<script src="app/controllers/login.js"></script>
<script src="app/controllers/account.js"></script>
<script src="app/controllers/profile.js"></script>
<script src="app/controllers/coming-soon.js"></script>
<script src="app/controllers/join.js"></script>
<script src="app/controllers/newbrand.js"></script>
<script src="app/controllers/brand.js"></script>
<script src="app/controllers/feed.js"></script>
<script src="app/controllers/post.js"></script>
<script src="app/controllers/newpost.js"></script>
<script src="app/controllers/products.js"></script>


<!-- SCRIPTS -->