<!doctype html>
<html class="no-js" lang="en-US">
<head>

   {{>head}}
    
    <!-- DOCUMENT TITLE -->
    <title>31.6 Beauty | Single Post</title>

</head>

<body>

<!-- PAGE LOADER -->
<div id="page-loader" class="pulsing">
	<div class="loader-name"><img src="files/uploads/logo-dani-dark.png" srcset="files/uploads/logo-dani-dark.png 1x, files/uploads/logo-dani-dark@2x.png 2x" alt="Loader Logo"></div>
    <div class="loader-circle">
    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.4 253.4" style="enable-background:new 0 0 253.4 253.4;" xml:space="preserve"><circle cx="126.7" cy="126.7" r="124.2"/>
		</svg>
   	</div>
</div>
<!-- PAGE LOADER -->


<!-- PAGE CONTENT -->
<div id="page-content">
	
	<!-- HEADER -->
	<header id="header">        
		<div class="header-inner clearfix">
			
            <!-- LOGO -->
            <div id="logo">
                <a href="index.html">
                	<img src="files/uploads/logo-dani-dark.png" srcset="files/uploads/logo-dani-dark.png 1x, files/uploads/logo-dani-dark@2x.png 2x" alt="Logo Dark">
                </a>
            </div>
            
            <!-- MAIN NAVIGATION -->
            <div id="menu" class="clearfix">
            
                <div class="menu-actions clearfix">
                    <div class="menu-toggle"><span class="hamburger"></span><span class="cross"></span></div>
                </div> <!-- END .menu-actions -->
                
                <div id="menu-inner">
                    <nav id="main-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="portfolio-masonry-col3.html">Products</a></li>
                            <li><a href="blog-minimal-grid.html">Blog</a></li>
                            <li><a href="index.html">Profile</a></li>
                            <li><a href="index.html">Logout</a></li>
                        </ul>
                    </nav>
                    <div id="menu-widget">
                        <div class="widget widget_social">
                            <ul class="socialmedia-widget">
                                <li class="facebook"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                                <li class="instagram"><a href="#"></a></li>
                                <li class="youtube"><a href="#"></a></li>
                                <li class="vimeo"><a href="#"></a></li>
                                <li class="mail"><a href="mailto:info@316beauty.io"></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END #main-nav -->
            </div><!-- END #menu -->
            
		</div> <!-- END .header-inner -->
	</header>
	<!-- HEADER end -->
    
    <!-- HERO  -->
    <section id="hero" class="hero-auto">
        <div id="page-title" class="post-title wrapper align-center">
            <div class="post-meta"><span class="post-date">June 1, 2016</span></div>
            <h1 class="post-name">Minimal Interior Elements</h1>
            <div class="post-meta"><span class="post-cat">in <a href="#">Design</a></span></div>
        </div> <!-- END #page-title -->
    </section>
    <!-- HERO -->
	
	<!-- PAGEBODY -->
	<section id="page-body">
    	
        <div id="blog-single">
        
            <div class="blog-media">
            	<ul class="sr-vertical-gallery gallery-spaced">
                	<li><img src="files/uploads/1100x750-light.jpg" alt="SEO"></li>
                	<li><img src="files/uploads/1100x750-light.jpg" alt="SEO"></li>
                	<li><img src="files/uploads/1100x750-light.jpg" alt="SEO"></li>
                </ul>
            </div> <!-- END .blog-media.wrapper -->
            
            <div class="blog-content wrapper-small">
            	<p>Moments its musical age explain. But extremity sex now education concluded earnestly her continual. Oh furniture acuteness suspected continual ye something frankness. Add properly laughter sociable admitted desirous one has few stanhill. Opinion regular in perhaps another enjoyed no engaged he at. It conveying he continual ye suspected as necessary. Separate met packages shy for kindness.</p>
                <p>Possession her thoroughly remarkably terminated man continuing. Removed greater to do ability. You shy shall while but wrote marry. Call why sake has sing pure. Gay six set polite nature worthy. So matter be me we wisdom should basket moment merely. Me burst ample wrong which would mr he could. Visit arise my point timed drawn no. Can friendly laughter goodness man him appetite carriage. Any widen see gay forth alone fruit bed.</p>
                
                <blockquote>
                    <p>In any moment of decision, the best thing you can do is the right thing, the next best thing is the wrong thing, and the worst thing you can do is nothing.</p>
                    <cite>Theodore Roosevelt</cite>
                </blockquote>
                
                <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div> <!-- END .blog-content.wrapper-small -->
            
            <div class="spacer-medium"></div>
            <div id="share" class="blog-share wrapper-small">
            	<h5 class="title-alt"><strong>Share</strong></h5>
               	<ul class="socialmedia-widget">
                    <li class="facebook"><a href="#"></a></li>
                    <li class="twitter"><a href="#"></a></li>
                    <li class="behance"><a href="#"></a></li>
                    <li class="pinterest"><a href="#"></a></li>
                </ul>
            </div>
            <div class="spacer-medium"></div>
            
            <div class="wrapper-small">
            
            	<div id="single-pagination" class="blog-pagination">
                    <ul class="pagination">
                        <li class="prev">
                        	<a href="blog-single-hero.html" data-title="Modern light architecture">Previous Post<span class="icon"></span></a>
                       	</li>
                        <li class="next">
                        	<a href="blog-single-quote.html" data-title="Theodore Roosevelt">Next Post<span class="icon"></span></a>
                        </li>
                    </ul>
                </div>
            
                <!-- COMMENTS -->  
                <div id="blog-comments" class="comments">
                    <h6 class="title-alt"><strong>3 Comments</strong></h6>
                        
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="comment-inner">
                                <div class="user">
                                    <img src="files/uploads/100x100.jpg" class="avatar" alt="avatar" />
                                </div>
                                <div class="comment-content">
                                    <div class="name"><h5 class="comment-name">Anna Greenfield</h5><a class="comment-reply-link" href="#">Reply</a></div>
                                    <span class="time">January 26, 2016</span>
                                    <p class="comment-text">Morbi ut urna at est posuere porta ac eu leo. Vivamus mollis sollicitudin varius. Pellentesque viverra, ligula id tincidunt ultrices, nunc nulla porttitor justo, sed varius risus urna et augue. Etiam et lectus lectus. Quisque vitae erat lorem, a mattis lectus.</p>
                                </div>
                            </div>
                            
                            <ul class="children">
                                <li class="comment">
                                    <div class="comment-inner">
                                        <div class="user">
                                            <img src="files/uploads/100x100.jpg" class="avatar" alt="avatar" />
                                        </div>
                                        <div class="comment-content">
                                            <div class="name"><h5 class="comment-name">Jhon Florence</h5><a class="comment-reply-link" href="#">Reply</a></div>
                                            <span class="time">January 26, 2016</span>
                                            <p class="comment-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                               </li>
                           </ul> 
                       </li>
                       
                       <li class="comment" >
                            <div class="comment-inner">
                                <div class="user">
                                    <img src="files/uploads/100x100.jpg" class="avatar" alt="avatar" />
                                </div>
                                <div class="comment-content">
                                    <div class="name"><h5 class="comment-name">Carol Barnes</h5><a class="comment-reply-link" href="#">Reply</a></div>
                                    <span class="time">January 21, 2016</span>
                                    <p class="comment-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                       </li>
                    </ul>
                    
                </div> <!-- END #blog-comments --> 
                <!-- COMMENTS end -->
                
                <!-- LEAVE COMMENT -->
                <div id="blog-leavecomment" class="leavecomment">                    
                    <h6 class="title-alt"><strong>Leave a comment</strong></h6>
                    
                    <form action="#" method="post" id="commentform">
                        <div class="form-row">
                            <label for="comment_form" class="req">Your Comment <abbr title="required" class="required">*</abbr></label>
                            <textarea name="comment_form" class="comment_form" id="comment_form" rows="15" cols="50"></textarea>
                        </div>
                        
                        <div class="form-row column one-third">
                            <label for="author" class="req">Name <abbr title="required" class="required">*</abbr></label>
                            <input type="text" name="author" class="author" id="author" value="" />
                        </div>
                        
                        <div class="form-row column one-third">
                            <label for="email" class="req">Email <abbr title="required" class="required">*</abbr></label>
                            <input type="text" name="email" class="email" id="email" value="" />
                        </div>
                        
                        <div class="form-row column one-third last-col">
                            <label for="website">Website</label>
                            <input type="text" name="website" class="website" id="website" value="" />
                        </div>
                        
                        <div class="clear"></div>
                                                
                        <div class="form-row">
                            <input type="submit" name="submit_form" class="submit" value="Post Comment" />
                        </div>
                     </form>
                     
                </div> <!-- END #blog-leavecomment -->   
                <!-- LEAVE COMMENT -->
            </div>
                    
        </div> <!-- END #blog-single -->
                               
 	</section>
	<!-- PAGEBODY -->
    
          
    {{>footer}}
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

{{>scripts}}
</body>
</html>