<!doctype html>
<html lang="en">


    <head>
        {{>head}}
        {{>scripts}}
    </head>


    <body ng-app="316Beauty" ng-controller="HomeController" ng-init="init()" class="scroll-assist">

        {{>nav}}

        <div class="main-container">

            <section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
                <ul class="slides">
                    <li class="overlay image-bg pt240 pb240 pt-xs-120 pb-xs-120">
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/fashion1.jpg">
                        </div>

                        <div ng-cloak class="container">
                            <div class="row text-center">
                                <div ng-show='!showLogin && !currentUser' class="col-md-12">
                                    <h1 class="mb8">31.6 Beauty</h1>
                                    <p class="lead mb48">
                                        Sign up for exclusive tips, articles and discounts - courtesy of Kelsie Ann.
                                    </p>
                                    <form class="thirds form-newsletter">
                                        <input ng-model='profile.email' type="text" name="Email"  placeholder="Email" />
                                        <input ng-model='profile.password' type="password" name="Password" placeholder="Password" />
                                        <button ng-click='register()' type="submit">Join the Club</button>
                                    </form>
                                    <p class="mb0">Returning user?
                                    <a ng-click='toggleLogin()' href="#">Click Here To Login</a>
                                </p>
                                </div>
                                <div ng-show='showLogin  && !currentUser' class="col-md-12">
                                    <h1 class="mb8">31.6 Beauty</h1>
                                    <p class="lead mb48">
                                        Log in for exclusive tips, articles and discounts - courtesy of Kelsie Ann.
                                    </p>
                                    <form class="thirds form-newsletter">
                                        <input ng-model='profile.email' type="text" name="Email"  placeholder="Email" />
                                        <input ng-model='profile.password' type="password" name="Password" placeholder="Password" />
                                        <button ng-click='login()' type="submit">Log In</button>
                                    </form>
                                    <p class="mb0">New user?
                                    <a ng-click='toggleLogin()' href="#">Click Here To Register</a>
                                </p>
                                </div>
                                <div ng-show='currentUser' class="col-md-12">
                                    <h1 class="mb8">31.6 Beauty</h1>
                                    <p class="lead mb48">
                                        Welcome back!
                                    </p>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->

                    </li>
                </ul>
            </section>










            <section class="pt40 pb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h6 class="uppercase mb0">Follow Kelsie for advice, product reviews &amp; more.</h6>
                        </div>
                    </div>
                </div>
            </section>



            <section class="pt40 pb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="image-tile inner-title title-center text-center">
                                <a href="#">
                                    <img alt="Pic" src="img/fashion2.jpg" />
                                    <div class="title">
                                        <h4 class="uppercase mb0">Fall Lookbook</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="image-tile inner-title title-center text-center">
                                <img alt="Pic" src="img/fashion3.jpg" />
                                <div class="title">
                                    <div class="modal-container">
                                        <div class="play-button btn-modal inline"></div>
                                        <div class="foundry_modal no-bg">
                                            <iframe data-provider="vimeo" data-video-id="63344039" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                            <img class="cast-shadow" alt="Screenshot" src="img/kelsie.jpg" />
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                            <h3>Meet Kelsie</h3>
                            <p>
                                Hi! My name is Kelsie. Join my site for product recommendations, reviews, and exclusive discounts.
                            </p>
                            <p>
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>




            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                            <h4 class="uppercase mb16">Post Feed
                                <span class="label">User Submitted</span>
                            </h4>
                            <p class="lead mb80">
                                Our members have a lot to say. Register for free to start posting content.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
                            <div class="horizontal-tile">
                                <div class="tile-left">
                                    <a href="#">
                                        <div class="background-image-holder">
                                            <img alt="image" class="background-image" src="img/project-single-1.jpg" />
                                        </div>
                                    </a>
                                </div>
                                <div class="tile-right bg-secondary">
                                    <div class="description">
                                        <h4 class="mb8">Makeup</h4>
                                        <h6 class="uppercase">
                                            Posted by Jake
                                        </h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of horizontal tile-->
                            <div class="horizontal-tile">
                                <div class="tile-left">
                                    <a href="#">
                                        <div class="background-image-holder">
                                            <img alt="image" class="background-image" src="img/project-single-3.jpg" />
                                        </div>
                                    </a>
                                </div>
                                <div class="tile-right bg-secondary">
                                    <div class="description">
                                        <h4 class="mb8">Hairstyle</h4>
                                        <h6 class="uppercase">
                                            Posted by Kenny
                                        </h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--end of horizontal tile-->
                        </div>
                    </div>
                </div>
            </section>





            <section class="pt40 pb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h6 class="uppercase mb0">Exclusive Discounts</h6>
                        </div>
                    </div>
                </div>
            </section>




            <section class="pt40 pb0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="image-tile outer-title text-center">
                                <a href="#">
                                    <img alt="Pic" class="product-thumb" src="img/shop-product-1.jpg" />
                                </a>
                                <div class="title">
                                    <h5 class="mb0">Gypsy Warrior
                                        <br /> LambsWool Cap</h5>
                                    <span class="display-block mb16">$49.95</span>
                                </div>
                            </div>
                        </div>
                        <!--end three col-->
                        <div class="col-md-3 col-sm-4">
                            <div class="image-tile outer-title text-center">
                                <a href="#">
                                    <img alt="Pic" class="product-thumb" src="img/shop-product-2.jpg" />
                                </a>
                                <div class="title">
                                    <h5 class="mb0">South Moon Under
                                        <br /> Leather Wallet</h5>
                                    <span class="display-block mb16">$69.95</span>
                                </div>
                            </div>
                        </div>
                        <!--end three col-->
                        <div class="col-md-3 col-sm-4">
                            <div class="image-tile outer-title text-center">
                                <a href="#">
                                    <img alt="Pic" class="product-thumb" src="img/shop-product-7.jpg" />
                                </a>
                                <div class="title">
                                    <h5 class="mb0">Lu Lu Lemon
                                        <br />Stainless Flask</h5>
                                    <span class="display-block mb16">$49.95</span>
                                </div>
                            </div>
                        </div>
                        <!--end three col-->
                        <div class="col-md-3 col-sm-4">
                            <div class="image-tile outer-title text-center">
                                <a href="#">
                                    <img alt="Pic" class="product-thumb" src="img/shop-product-3.jpg" />
                                </a>
                                <div class="title">
                                    <h5 class="mb0">Free People
                                        <br />Vintage Camera</h5>
                                    <span class="display-block mb16">$259</span>
                                </div>
                            </div>
                        </div>
                        <!--end three col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="bg-dark pb64">
                <div class="container">
                    <div class="row mb64 mb-xs-32">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <h2 class="uppercase bold italic">
                                <i class="ti-instagram">&nbsp;</i>_kelsxo_</h2>
                            <p class="lead">
                                Follow me on Instagram for makeup inspiration and shots from our awesome clients.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                <div class="instafeed grid-gallery gapless mb64 mb-xs-32" data-user-name="_kelsxo_">
                    <ul></ul>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <a class="btn btn-lg btn-filled mb0" href="#">See more on Instagram</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section>
                <div class="container">
                    <div class="row mb80 mb-xs-40">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <h2 class="uppercase bold italic fade-3-4 mb0">Kelsie's Posts</h2>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row masonry">
                        <div class="masonry-item col-md-4 col-sm-6">
                            <div class="feature bg-secondary p32 pt40 pb40 mb0">
                                <span class="fade-1-4 mb16 display-block">August 3, 2015 in Fitness</span>
                                <h4 class="mb120 uppercase bold italic">Maintaining activity within the fat-burning zone</h4>
                                <a href="#" class="mb0 btn">
                                    Read Post
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="masonry-item col-md-4 col-sm-6">
                            <div class="feature bg-secondary p32 pt40 pb40 mb0">
                                <span class="fade-1-4 mb16 display-block">August 1, 2015 in Diet</span>
                                <h4 class="mb120 uppercase bold italic">Tips for avoiding over consumption</h4>
                                <a href="#" class="mb0 btn">
                                    Read Post
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="masonry-item col-md-4 col-sm-6">
                            <div class="feature bg-secondary p32 pt40 pb40 mb0">
                                <span class="fade-1-4 mb16 display-block">July 24, 2015 in Motivation</span>
                                <h4 class="mb120 uppercase bold italic">Returning to fitness after long periods - what not to do</h4>
                                <a href="#" class="mb0 btn">
                                    Read Post
                                    <i class="ti-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb16">Kelsie's Uploads</h4>
                            <p class="lead mb64">
                                Click the thumbnails for a larger view.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
                                <ul>
                                    <li>
                                        <a href="img/cover1.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/cover1.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/home12.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/home12.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/home14.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/home14.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/home17.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/home17.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/cover5.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/cover5.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/cover6.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/cover6.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/cover7.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/cover7.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="img/cover8.jpg" data-lightbox="true">
                                            <div class="background-image-holder">
                                                <img alt="image" class="background-image" src="img/cover8.jpg" />
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--end of lightbox gallery-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="pt60 pb60 pt-xs-0 pb-xs80 bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase large mb80 mb-xs-24">Follow Kelsie</h2>
                            <ul class="list-inline social-list mb24 spread-children-large">
                                <li class="fade-on-hover">
                                    <a href="#">
                                        <i class="icon icon-lg ti-instagram"></i>
                                    </a>
                                </li>
                                <li class="fade-on-hover">
                                    <a href="#">
                                        <i class="icon icon-lg ti-facebook"></i>
                                    </a>
                                </li>
                                <li class="fade-on-hover">
                                    <a href="#">
                                        <i class="icon icon-lg ti-soundcloud"></i>
                                    </a>
                                </li>
                                <li class="fade-on-hover">
                                    <a href="#">
                                        <i class="icon icon-lg ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            
            {{>footer}}


        </div>

       


    </body>
</html>