<!doctype html>
<html class="no-js" lang="en-US">
<head>
{{>head}}

    <title>31.6 Beauty</title>

</head>

<body ng-app="316Beauty" ng-controller="HomeController" ng-init="init()">

{{>loader}}


<!-- PAGE CONTENT -->
<div id="page-content">
	
	<header id="header" class="wrapper transparent text-light">        
        {{>nav}}
    </header>
    
    <!-- HERO  -->
	<section id="hero" class="hero-auto">
        
        <div class="revolution-slider-wrapper">
            <div id="revolutionslider1" class="revolution-slider"  data-version="5.0">
                <ul>
                	
                	<li class="text-light" data-transition="fadethroughdark" data-masterspeed="1200">			
                        <!-- MAIN IMAGE -->
                        <img src="files/uploads/background5.jpg"  alt=""  width="1920" height="1280">
                     
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption dani-caption align-center"				
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['-40','-50','-40','-40']"
                            data-fontsize="['80','80','70','36']"
							data-lineheight="['96','86','84','46']"
							data-width="['none','full','full','full']"
							data-height="auto"
							data-whitespace="['nowrap','nowrap','nowrap','normal']"
                            data-transform_idle="o:1"	
                            data-transform_in="o:0;s:500;e:Power1.easeInOut;" 
                            data-transform_out="o:0" 							 
                            data-start="1000"
                            data-responsive_offset="on">
                            <img id="dark-logo" src="files/uploads/mylogo-light@3x.png" srcset="files/uploads/mylogo-light@3x.png 1x, files/uploads/mylogo-light@6x.png 2x" alt="Logo Light">
                        </div>
                        
                        <!-- LAYER NR. 2 -->
                       <!--  <div class="tp-caption dani-caption align-center"			
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['100','50','40','35']"
                            data-fontsize="['36','36','30','22']"
							data-lineheight="['46','46','38','28']"
							data-width="['none','full','full','280px']"
							data-height="auto"
							data-whitespace="['nowrap','nowrap','nowrap','normal']"
                            data-transform_idle="o:1"	
                            data-transform_in="o:0;s:500;e:Power1.easeInOut;" 
                            data-transform_out="o:0" 							 
                            data-start="1000"
                            data-responsive_offset="on">
                            Discover quality products.
                        </div> -->

                        <div ng-cloak ng-show="!currentUser" class="tp-caption dani-caption align-center"                
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['150','140','130','180']"
                            data-fontsize="['36','36','30','22']"
                            data-lineheight="['46','46','38','28']"
                            data-width="['none','full','full','280px']"
                            data-height="auto"
                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                            data-transform_idle="o:1"   
                            data-transform_in="o:0;s:500;e:Power1.easeInOut;" 
                            data-transform_out="o:0"                             
                            data-start="1000"
                            data-responsive_offset="on">
                            <a href="/join" class="sr-button button-medium style-2"><i class="fa fa-user"></i> Login/Join</a>
                            <a href="/auth/facebook" class="sr-button button-medium style-2"><i class="fa fa-facebook-square"></i> Facebook</a>
                            <a href="/auth/instagram" class="sr-button button-medium style-2"><i class="fa fa-instagram"></i> Instagram</a>
                        </div>

                        <div ng-cloak ng-show="currentUser" class="tp-caption dani-caption align-center"                
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['140','140','130','160']"
                            data-fontsize="['36','36','30','22']"
                            data-lineheight="['46','46','38','28']"
                            data-width="['none','full','full','280px']"
                            data-height="auto"
                            data-whitespace="['nowrap','nowrap','nowrap','normal']"
                            data-transform_idle="o:1"   
                            data-transform_in="o:0;s:500;e:Power1.easeInOut;" 
                            data-transform_out="o:0"                             
                            data-start="1000"
                            data-responsive_offset="on">
                            Welcome back!
                        </div>



                    </li> <!-- END first slide -->
              	</ul>				
             </div><!-- END .revolution-slider -->
       	</div> <!-- END .revolution-slider-wrapper -->
        
        <a href="#" id="scrolldown" class="center scroll-light"></a>
        
    </section>
    <!-- HERO -->
	
	<!-- PAGEBODY -->
	<section id="page-body">
    	<div class="spacer-medium"></div>
                        
        <div class="wrapper align-center">
            <div ng-show="!currentUser">
                <i class="ion ion-ios-people ion-6x"></i><br/>
                <h2>Join for exclusive <strong><em>discounts, articles &amp; tips</em></strong> - <br/>courtesy of <strong><em>Kelsie Ann</em></strong>.</h2>
                <div class="spacer-medium"></div>
                <a href="/join" class="sr-button button-big style-2"><i style="color:#fff" class="fa fa-user"></i> Login/Join</a>&nbsp;
                <a href="/auth/facebook" class="sr-button button-big style-2"><i style="color:#fff" class="fa fa-facebook-square"></i> Facebook</a>&nbsp;
                <a href="/auth/instagram" class="sr-button button-big style-2"><i style="color:#fff" class="fa fa-instagram"></i> Instagram</a>
            </div>
            <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-2 fitrows isotope-spaced clearfix">
                 <div class="isotope-item portfolio-item">
                    <div class="portfolio-item-inner item-inner">
                        <a href="http://player.vimeo.com/video/67714338" data-rel="lightcase" class="thumb-hover text-light videobg-section"
                            data-phattype="vimeo" 
                            data-phatvideoid="67714338"
                            data-phatratio="16/9"
                            data-phatplayonhover="true"
                            >
                            <img src="files/uploads/fashion3.jpg" alt="SEO">
                        </a>
                        <div class="portfolio-info">
                            <h5 class="portfolio-name title-alt uppercase">
                                <a href="http://www.youtube.com/embed/6v2L2UGZJAM" data-rel="lightcase">Lookbook</a>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="isotope-item portfolio-item">
                    <div class="portfolio-item-inner item-inner">
                        <a href="http://www.youtube.com/embed/gncZESshy1M" data-rel="lightcase" class="thumb-hover text-light videobg-section"
                            data-phattype="youtube" 
                            data-phatvideoid="gncZESshy1M"
                            data-phatratio="16/9"
                            data-phatplayonhover="true"
                            >
                            <img src="files/uploads/fashion4.jpg" alt="SEO">
                        </a>
                        <div class="portfolio-info">
                            <h5 class="portfolio-name title-alt uppercase">
                                <a href="http://www.youtube.com/embed/Xa0Q0J5tOP0" data-rel="lightcase">Video</a>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <p><a class="sr-button-icon button-medium" href="http://player.vimeo.com/video/129976307" data-rel="lightcase"><i class="fa fa-play"></i></a></p> -->
        </div> <!-- END .wrapper -->
        
        <div class="spacer-big"></div>

        <div class="fullwidth-section text-light" style="background:url(files/uploads/pattern2.jpg) center center; -webkit-background-size:46px 7px; -moz-background-size:46px 7px; -o-background-size:46px 7px; background-size:46px 7px;">
            <div class="spacer-medium"></div>
            <div class="wrapper align-center">
                <i class="ion ion-bag ion-6x" style="color:#fff"></i><br/>
                <h3>Curated, Must-Have Products</h3>
                <h5>Use the links below for <strong><em>exclusive discounts</em></strong>.</h5>
            </div>
            <div class="spacer-medium"></div>                
        </div>
        
        <div id="smartscroll" class="smartscroll-grid portfolio-container portfolio-animation" data-columns="2">
        	
            <div class="smartscroll-item portfolio-item portfolio-smart-item">
               	<div class="portfolio-item-inner item-inner">
                    <a href="portfolio-single-classic.html" class="thumb-hover text-light">
                        
                        <img src="files/uploads/1100x750-dark.jpg" alt="SEO">
                        <div class="overlay-caption bottom align-left">
                            <span class="caption-sub portfolio-category text-animation">Branding</span>
                            <h2 class="caption-name portfolio-name text-animation"><strong>Urban Oasis</strong></h2>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="smartscroll-item portfolio-item portfolio-smart-item">
               	<div class="portfolio-item-inner item-inner">
                    <a href="portfolio-single-classic.html" class="thumb-hover text-light">
                        <img src="files/uploads/1100x950-dark.jpg" alt="SEO">
                        <div class="overlay-caption bottom align-left">
                            <span class="caption-sub portfolio-category text-animation">Web Design</span>
                            <h2 class="caption-name portfolio-name text-animation"><strong>Punk<br>Bluetooth Speaker</strong></h2>
                        </div>
                    </a>
                </div>
            </div>
            
            
            <div class="smartscroll-item portfolio-item portfolio-smart-item">
               	<div class="portfolio-item-inner item-inner">
                    <a href="portfolio-single-classic.html" class="thumb-hover text-light">
                        
                        <img src="files/uploads/1100x750-dark.jpg" alt="SEO">
                        <div class="overlay-caption bottom align-left">
                            <span class="caption-sub portfolio-category text-animation">Web Design</span>
                            <h2 class="caption-name portfolio-name text-animation"><strong>Globetouch</strong></h2>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="smartscroll-item portfolio-item portfolio-smart-item">
               	<div class="portfolio-item-inner item-inner">
                    <a href="portfolio-single-classic.html" class="thumb-hover text-light">
                        <img src="files/uploads/1100x750-dark.jpg" alt="SEO">
                        <div class="overlay-caption bottom align-left">
                            <span class="caption-sub portfolio-category text-animation">Art Direction</span>
                            <h2 class="caption-name portfolio-name text-animation"><strong>Five Chair</strong></h2>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="smartscroll-item portfolio-item portfolio-smart-item">
               	<div class="portfolio-item-inner item-inner">
                    <a href="portfolio-single-classic.html" class="thumb-hover">
                        <img src="files/uploads/1100x650-light.jpg" alt="SEO">
                        <div class="overlay-caption bottom align-left">
                            <span class="caption-sub portfolio-category text-animation">Web Design</span>
                            <h2 class="caption-name portfolio-name text-animation"><strong>Bike<br>Specialized</strong></h2>
                        </div>
                    </a>
                </div>
            </div>
                    
       	</div> <!-- END .smart-scroll -->
       
       	<div class="spacer-big"></div>
                
        <div class="wrapper align-center">
             <i class="ion ion-ios-bookmarks-outline ion-6x"></i><br/>
        	<h2 class="align-center">Featured Lookbook Posts</h2>
            
            <div id="blog-grid" class="isotope-grid minimal-grid-blog blog-container style-column-3 fitrows">
                <div class="isotope-item blog-item">
                    <a class="full-link" href="blog-single-classic.html"></a>
                    <div class="blog-bg" style="background:url(files/uploads/600x400-light.jpg);"></div>
                    <div class="blog-item-inner item-inner">
                        <div class="blog-info">
                            <div class="post-meta">
                                <span class="post-date">June 6, 2016</span>
                            </div>
                            <h3 class="post-name">Waterfalls of Iceland</h3>
                            <a class="read-more sr-button-with-arrow" href="blog-single-classic.html"><strong>Read More</strong></a>
                        </div>
                    </div>
                </div>
                
                <div class="isotope-item blog-item">
                <a class="full-link" href="blog-single-classic.html"></a>
                    <div class="blog-bg" style="background:url(files/uploads/600x600-light.jpg);"></div>
                    <div class="blog-item-inner item-inner">
                        <div class="blog-info">
                            <div class="post-meta">
                                <span class="post-date">June 1, 2016</span>
                            </div>
                            <h3 class="post-name">Minimal Interior Elements</h3>
                            <a class="read-more sr-button-with-arrow" href="blog-single-classic.html"><strong>Read More</strong></a>
                        </div>
                    </div>
                </div>
                
                <div class="isotope-item blog-item">
                    <a class="full-link" href="blog-single-classic.html"></a>
                    <div class="blog-bg" style="background:url(files/uploads/600x400-light.jpg);"></div>
                    <div class="blog-item-inner item-inner">
                        <div class="blog-info">
                            <div class="post-meta">
                                <span class="post-date">May 28, 2016</span>
                            </div>
                            <h3 class="post-name">Experience the sound of the new 360° Bluetooth Speaker</h3>
                            <a class="read-more sr-button-with-arrow" href="blog-single-classic.html"><strong>Read More</strong></a>
                        </div>
                    </div>
                </div>
            </div>            
                        
       	</div> <!-- END .wrapper -->
        
        <div class="spacer-big"></div>
        {{>about}}
       
        <div class="spacer-big"></div>
                         
 	</section>
	<!-- PAGEBODY -->
    {{>footer}}
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

{{>scripts}}

</body>
</html>