<!doctype html>
<html class="no-js" lang="en-US">
<head>

   {{>head}}
    
    <!-- DOCUMENT TITLE -->
    <title>31.6 Beauty | Products</title>

</head>

<body>

<!-- PAGE LOADER -->
<div id="page-loader" class="pulsing">
	<div class="loader-name"><img src="files/uploads/logo-dani-dark.png" srcset="files/uploads/logo-dani-dark.png 1x, files/uploads/logo-dani-dark@2x.png 2x" alt="Loader Logo"></div>
    <div class="loader-circle">
    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 253.4 253.4" style="enable-background:new 0 0 253.4 253.4;" xml:space="preserve"><circle cx="126.7" cy="126.7" r="124.2"/>
		</svg>
   	</div>
</div>
<!-- PAGE LOADER -->


<!-- PAGE CONTENT -->
<div id="page-content">
	
	<!-- HEADER -->
	<header id="header" class="wrapper transparent not-sticky">        
		<div class="header-inner clearfix">
			
            <!-- LOGO -->
            <div id="logo">
                <a href="index.html">
                	<img src="files/uploads/logo-dani-dark.png" srcset="files/uploads/logo-dani-dark.png 1x, files/uploads/logo-dani-dark@2x.png 2x" alt="Logo Dark">
                </a>
            </div>
            
            <!-- MAIN NAVIGATION -->
            <div id="menu" class="clearfix">
            
                <div class="menu-actions clearfix">
                    <div class="menu-toggle"><span class="hamburger"></span><span class="cross"></span></div>
                </div> <!-- END .menu-actions -->
                
                <div id="menu-inner">
                    <nav id="main-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="portfolio-masonry-col3.html">Products</a></li>
                            <li><a href="blog-minimal-grid.html">Blog</a></li>
                            <li><a href="index.html">Profile</a></li>
                            <li><a href="index.html">Logout</a></li>
                        </ul>
                    </nav>
                    <div id="menu-widget">
                        <div class="widget widget_social">
                            <ul class="socialmedia-widget">
                                <li class="facebook"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                                <li class="instagram"><a href="#"></a></li>
                                <li class="youtube"><a href="#"></a></li>
                                <li class="vimeo"><a href="#"></a></li>
                                <li class="mail"><a href="mailto:info@316beauty.io"></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END #main-nav -->
            </div><!-- END #menu -->
            
		</div> <!-- END .header-inner -->
	</header>
	<!-- HEADER end -->
    
    <!-- HERO  -->
	<section id="hero" class="hero-auto" >
        <div id="page-title" class="wrapper">
            <h1>Curated, <strong><em>Must-Have</em></strong> Products</h1>
            <h3>Use the links below for <strong><em>exclusive discounts</em></strong>.</h3>
        </div> <!-- END #page-title -->
    </section>
    <!-- HERO -->
	
	<!-- PAGEBODY -->
	<section id="page-body">
    	                
        <div class="wrapper">
        	
            <ul id="portfolio-filter" class="filter" data-related-grid="portfolio-grid">
                <li class="active" ><a href="#" data-filter="*">Show All Interests</a></li>
                <li><a data-filter=".branding" data-slug="branding" href="#" title="Branding">Fashion</a></li>
                <li><a data-filter=".print" data-slug="print" href="#" title="Print">Cosmetics</a></li>
                <li><a data-filter=".digital" data-slug="digital" href="#" title="Digital">Hair</a></li>
            </ul>
            <ul id="portfolio-filter" class="filter" data-related-grid="portfolio-grid">
                <li class="active" ><a href="#" data-filter="*">Show All Preferences</a></li>
                <li><a data-filter=".branding" data-slug="branding" href="#" title="Branding">Trendy</a></li>
                <li><a data-filter=".print" data-slug="print" href="#" title="Print">Casual</a></li>
                <li><a data-filter=".digital" data-slug="digital" href="#" title="Digital">Preppy</a></li>
                <li><a data-filter=".photography" data-slug="photography" href="#" title="Photography">Girly</a></li>
            </ul>
                       
            <div id="portfolio-grid" class="isotope-grid portfolio-container style-column-3 isotope-spaced portfolio-animation clearfix">
                            
                <div class="isotope-item portfolio-item photography">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x800-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Photography</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Sodamaker</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item digital">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Digital</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Fuzzit</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item branding">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x600-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Branding</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Hunting Season</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                                
                <div class="isotope-item portfolio-item photography">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x500-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Photography</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>White Shirt</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item branding">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Branding</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Cairs</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item print">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Print</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Mandarin Chocolat</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item print">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x800-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Print</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Cereal</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item branding">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Branding</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Caprichio</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item digital">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Digital</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Prism</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                                
                <div class="isotope-item portfolio-item photography">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x500-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Photography</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Belyse</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item digital">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x400-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Digital</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Asos</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item photography">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x600-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Photography</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Percha</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
                <div class="isotope-item portfolio-item print">
                    <div class="portfolio-item-inner item-inner">
                        <a href="portfolio-single-classic.html" class="thumb-hover overlay-effect text-light">
                            <img src="files/uploads/600x500-light.jpg" alt="SEO">
                            <div class="overlay-caption hidden bottom align-left">
                                <span class="caption-sub portfolio-category text-animation">Print</span>
                                <h3 class="caption-name portfolio-name text-animation"><strong>Marley</strong></h3>
                            </div>
                            <span class="thumb-arrow"></span>
                        </a>
                    </div>
                </div>
                
            </div> <!-- END .isotope-grid -->
        	
        </div> <!-- END .wrapper -->
                        
       <div class="spacer-big"></div>
 	</section>
	<!-- PAGEBODY -->
    
          
    {{>footer}}
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

{{>scripts}}
</body>
</html>