<!doctype html>
<html lang="en">
    <head>
        {{>head}}
        {{>scripts}}
    </head>
    <body ng-app='316Beauty' ng-controller='AccountController' ng-init='init()' class="scroll-assist">
        {{>nav}}
        <div class="main-container">
           
            <section>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="feature boxed bg-secondary">
                        <form class="text-center form-email">
                            <h4 class="uppercase mt48 mt-xs-0">Customize Your Profile</h4>
                            <p class="lead mb64 mb-xs-24">
                                Tell us a bit more about yourself so we
                                <br /> can tailor our recommendations for you.
                            </p>
                            <div class="overflow-hidden">
                                <hr>
                                <h6 class="uppercase">
                                    1. What are your interests?
                                </h6>
                                <div class="col-sm-4">
                                    <a id="clothes" ng-click="toggleTag($event, 'clothes')" class="btn btn-sm btn-rounded">Clothes</a>
                                </div>
                                <div class="col-sm-4">
                                    <a id="makeup" ng-click="toggleTag($event, 'makeup')" class="btn btn-sm btn-rounded">Makeup</a>
                                </div>
                                <div class="col-sm-4">
                                    <a id="hair" ng-click="toggleTag($event, 'hair')" class="btn btn-sm btn-rounded">Hair</a>
                                </div>
                                <hr>
                            </div>
                            
                            <div >
                                <h6 class="uppercase">
                                    2. Your personal details
                                </h6>
                                <div class="row">
                                    <input ng-model="currentUser.local.name" type="text" name="name" class="col-md-6" placeholder=" Full Name" />
                                    <input ng-model="currentUser.local.email" type="text" name="email" class="col-md-6" placeholder="Email" />
                                </div>
                                <div class="row">
                                    <input ng-model="currentUser.local.password" type="password" name="name" class="col-md-6" placeholder="Password" />
                                    <input style="background: #fff;border: none;height: 50px;padding-left: 20px;font-weight: 500;margin-bottom: 24px;border-radius: 0;" type="date" ng-model="currentUser.local.birthday" class="col-md-6"/>
                                </div>
                                <hr>
                            </div>

                            <div class="overflow-hidden">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <h6 class="uppercase">
                                        3. Social media accounts
                                    </h6>
                                </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-user"></span> Local</h3>
                                                <a ng-show="currentUser.local.email"  href="#" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.local.email" href="#" class="btn btn-md btn-rounded">Connect Local</a>
                                        </div>

                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                                                <a ng-show="currentUser.facebook.token" href="/unlink/facebook" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.facebook.token" href="/connect/facebook" class="btn btn-md btn-rounded">Connect Facebook</a>
                                        </div>

                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-instagram"></span> Instagram</h3>
                                                <a ng-show="currentUser.instagram.token" href="/unlink/instagram" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.instagram.token" href="/connect/instagram" class="btn btn-md btn-rounded">Connect Instagram</a>
                                        </div>

                                    </div>


                                <hr/>
                            </div>

                            <div class="overflow-hidden">
                                <h6 class="uppercase">
                                    4. Add tags to your profile
                                </h6>
                                <a id="nyxcosmetics" ng-click="toggleTag($event, 'nyxcosmetics')" class="btn btn-sm btn-rounded">NYX Cosmetics</a>
                                <a id="elfcosmetics" ng-click="toggleTag($event, 'elfcosmetics')" class="btn btn-sm btn-rounded">e.l.f. Cosmetics</a>
                                <a id="occ" ng-click="toggleTag($event, 'occ')" class="btn btn-sm btn-rounded">Obsessive Compulsive Cosmetics</a>
                                <a id="essence" ng-click="toggleTag($event, 'essence')" class="btn btn-sm btn-rounded">Essence</a>
                                <a id="pf" ng-click="toggleTag($event, 'pf')" class="btn btn-sm btn-rounded">Physicians Formula</a>
                                <a id="2bcolours" ng-click="toggleTag($event, '2bcolours')" class="btn btn-sm btn-rounded">2b Colours</a>
                                <a id="barrym" ng-click="toggleTag($event, 'barrym')" class="btn btn-sm btn-rounded">Barry M</a>
                                <a id="bhcosmetics" ng-click="toggleTag($event, 'bhcosmetics')" class="btn btn-sm btn-rounded">BH Cosmetics</a>
                                <a id="bourjois" ng-click="toggleTag($event, 'bourjois')" class="btn btn-sm btn-rounded">Bourjois</a>
                                <hr/>
                            </div>

                            <div class="overflow-hidden">
                                <a ng-click="updateProfile()" class="btn btn-lg btn-filled">Update Profile</a>
                            </div>

                        </form>
                    </div>
                </div>
            </section>


            {{>footer}}

        </div>
    </body>
</html>