<!doctype html>
<html lang="en">
    <head>
        {{>head}}
        {{>scripts}}
    </head>
    <body ng-app='316Beauty' ng-controller='ProfileController' ng-init='init()' class="scroll-assist">
        {{>nav}}
        <div class="main-container">
           
            <section>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="feature boxed bg-secondary">
                        <form class="text-center form-email">
                            <h4 class="uppercase mt48 mt-xs-0">Jake's Profile</h4>
                           
                            <div class="overflow-hidden">
                                <h6 class="uppercase">
                                    1. Personal details
                                </h6>
                                <div class="row">
                                    <input ng-model="profile.firstName" type="text" name="name" class="col-md-6" placeholder=" Full Name" />
                                    <input ng-model="profile.email" type="text" name="email" class="col-md-6" placeholder="Email" />
                                </div>
                                
                                <hr>
                            </div>
                            
                            <div class="overflow-hidden">
                                <h6 class="uppercase">
                                    2. Tags!
                                </h6>
                                <a class="btn btn-sm btn-rounded">Macy's</a>
                                <a class="btn btn-sm btn-rounded">Bumble &amp; Bumble</a>
                                <a class="btn btn-sm btn-rounded">Michael Kors</a>
                                <a class="btn btn-sm btn-rounded">Gucci</a>
                                <a class="btn btn-sm btn-rounded">Prada</a>
                                <a class="btn btn-sm btn-rounded">Dolce &amp; Gabana</a>
                                <a class="btn btn-sm btn-rounded">Kohls</a>
                                <a class="btn btn-sm btn-rounded">TJ Maxx</a>
                                <hr/>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </section>


            {{>footer}}

        </div>
    </body>
</html>