<!doctype html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body ng-app="316Beauty" ng-controller="ProductsController" ng-init="init()" class="scroll-assist">
        {{>nav}}
        <div ng-show="products && brands" class="main-container">
            <section ng-cloak ng-show="brands" class="page-title page-title-2 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="img/wide-1.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb8">Curated, Must-Have Products</h2>
                            <p class="lead mb10">Use the links below for <strong>exclusive discounts.</strong></p>
                        </div>
                    </div>
                    <div class="row mt8">
                        <div ng-repeat="brand in brands track by $index" ng-class="{ 'col-md-offset-1': $first }" class="col-md-2 text-center">
                            <a href="#">
                                <cl-image style="border-radius:16px;" public-id="<%brand.local.image%>" width="120" height="120" radius="max" crop="fill" format="jpg">
                                    <cl-transformation width="120" height="120" radius="max" crop="fill" />
                                </cl-image>
                            </a>
                            <div class="title">
                                <h5 class="mb0"><%brand.local.brandName%></h5>
                            </div>
                        </div>
                                                
                    </div>
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 masonry-item col-xs-12">
                            <div class="select-option">
                                <i class="ti-angle-down"></i>
                                <select>
                                    <option selected value="Default">Sort By</option>
                                    <option value="Small">Sort Filer 1</option>
                                    <option value="Medium">Sort Filer 2</option>
                                    <option value="Larger">Sort Filer 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row masonry">
                        <div ng-cloak ng-repeat="product in products track by $index" class="col-md-4 col-sm-4 masonry-item col-xs-12">
                            <div class="image-tile outer-title text-center">
                                <a href="<%product.link%>">
                                    <span ng-show="$first" class="label">Sale</span>
                                    <cl-image class="product-thumb" public-id="<%product.image%>" width="180" height="240" radius="max" crop="fill" format="jpg">
                                    <cl-transformation width="180" height="240" radius="max" crop="fill" />
                                </cl-image>
                                </a>
                                <div class="title">
                                    <h5 class="mb0"><%product.name%>
                                        <br /> <%product.description%></h5>
                                    <span class="display-block mb16"><% product.price %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{>footer}}
        </div>
        {{>scripts}}
    </body>
</html>