<!doctype html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body ng-app="316Beauty" ng-controller="PostController" ng-init="init()" class="scroll-assist">
       {{>nav}}
        <div class="main-container">
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0"><%post.title%></h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <p><%author.local.name%></p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="post-snippet mb64">
                                <cl-image public-id="<%post.image%>" class="inline mb32 mb-xs-16" format="jpg">
                                        <cl-transformation height="630" width="945" crop="fill" />
                                    </cl-image>
                                <div class="post-title">
                                    <span class="label"><% post.timestamp | date %></span>
                                    <h4 class="inline-block"><%post.title%></h4>
                                </div>
                                <ul class="post-meta">
                                    <li>
                                        <i class="ti-user"></i>
                                        <span>Written by
                                            <a href="#"><%author.local.name%></a>
                                        </span>
                                    </li>
                                </ul>
                                <hr>
                                <p class="lead">
                                    <%post.body%>
                                </p>
                            </div>
                            <hr>
                            <div class="comments">
                                <h5 class="uppercase"><%comments.length%> Comments</h5>
                                <div ng-repeat="comment in comments track by $index">
                                    <ul class="comments-list">
                                        <li>
                                            <div class="comment">
                                                <span class="uppercase author"> <%comment.authorName%> <% comment.timestamp | date %></span>
                                                <p>
                                                    <%comment.body%>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <h5 class="uppercase">Leave A Comment</h5>
                                <form>
                                    <textarea ng-model="newComment.body" rows="3" placeholder="Comment"></textarea>
                                    <a ng-click="addComment()" class="btn btn-lg btn-filled">Leave Comment</a>
                                </form>
                            </div>
                            <!--end of comments-->
                        </div>
                        <!--end of nine col-->
                    </div>
                    <!--end of container row-->
                </div>
                <!--end of container-->
            </section>
            {{>footer}}
        </div>
        {{>scripts}}
    </body>
</html>