<!doctype html>
<html lang="en">
    <head>
        {{>head}}
        {{>scripts}}
    </head>
    <body ng-app='316Beauty' ng-controller='AccountController' ng-init='init()' class="scroll-assist">
        {{>nav}}
        <div class="main-container">
           
            <section>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="feature boxed bg-secondary">
                        <form class="text-center form-email">
                            <h4 class="uppercase mt48 mt-xs-0">Customize Your Profile</h4>
                            <p class="lead mb64 mb-xs-24">
                                Tell us a bit more about yourself so we
                                <br /> can tailor our recommendations for you.
                            </p>
                            <div class="overflow-hidden">
                                <hr>
                                <h6 class="uppercase">
                                    My interests
                                </h6>
                                <div class="col-sm-4">
                                    <a id="fashion" ng-click="toggleTag($event, 'fashion')" class="btn btn-sm btn-rounded">Fashion</a>
                                </div>
                                <div class="col-sm-4">
                                    <a id="cosmetics" ng-click="toggleTag($event, 'cosmetics')" class="btn btn-sm btn-rounded">Cosmetics</a>
                                </div>
                                <div class="col-sm-4">
                                    <a id="hair" ng-click="toggleTag($event, 'hair')" class="btn btn-sm btn-rounded">Hair</a>
                                </div>
                                <hr>
                            </div>

                            <div ng-show="currentUser.local.tags.indexOf('fashion')>=0" class="overflow-hidden">
                                <h6 class="uppercase">
                                    Fashion preferences
                                </h6>
                                <a id="trendy" ng-click="toggleTag($event, 'trendy')" class="btn btn-sm btn-rounded">Trendy</a>
                                <a id="casual" ng-click="toggleTag($event, 'casual')" class="btn btn-sm btn-rounded">Casual</a>
                                <a id="vibrant" ng-click="toggleTag($event, 'vibrant')" class="btn btn-sm btn-rounded">Vibrant</a>
                                <a id="preppy" ng-click="toggleTag($event, 'preppy')" class="btn btn-sm btn-rounded">Preppy</a>
                                <a id="sexy" ng-click="toggleTag($event, 'sexy')" class="btn btn-sm btn-rounded">Sexy</a>
                                <a id="elegant" ng-click="toggleTag($event, 'elegant')" class="btn btn-sm btn-rounded">Elegant</a>
                                <a id="bohemian" ng-click="toggleTag($event, 'bohemian')" class="btn btn-sm btn-rounded">Bohemian</a>
                                <a id="girly" ng-click="toggleTag($event, 'girly')" class="btn btn-sm btn-rounded">Girly</a>
                                <a id="cowgirl" ng-click="toggleTag($event, 'cowgirl')" class="btn btn-sm btn-rounded">Cowgirl</a>
                                <a id="gnd" ng-click="toggleTag($event, 'gnd')" class="btn btn-sm btn-rounded">Girl Next Door</a>
                                <a id="punk" ng-click="toggleTag($event, 'punk')" class="btn btn-sm btn-rounded">Punk</a>
                                <a id="sporty" ng-click="toggleTag($event, 'sporty')" class="btn btn-sm btn-rounded">Sporty</a>
                                <a id="artsy" ng-click="toggleTag($event, 'artsy')" class="btn btn-sm btn-rounded">Artsy</a>
                                <a id="business" ng-click="toggleTag($event, 'business')" class="btn btn-sm btn-rounded">Business Women</a>
                                <a id="tomboy" ng-click="toggleTag($event, 'tomboy')" class="btn btn-sm btn-rounded">Tomboy</a>
                                <a id="gothic" ng-click="toggleTag($event, 'gothic')" class="btn btn-sm btn-rounded">Gothic</a>
                                <a id="rocker" ng-click="toggleTag($event, 'rocker')" class="btn btn-sm btn-rounded">Rocker</a>
                                <hr>
                            </div>

                            <div ng-show="currentUser.local.tags.indexOf('cosmetics')>=0" class="overflow-hidden">
                                <h6 class="uppercase">
                                    Cosmetics preferences
                                </h6>
                                <a id="drugstore" ng-click="toggleTag($event, 'drugstore')" class="btn btn-sm btn-rounded">Drug Store</a>
                                <a id="affordable" ng-click="toggleTag($event, 'affordable')" class="btn btn-sm btn-rounded">Affordable</a>
                                <a id="highend" ng-click="toggleTag($event, 'highend')" class="btn btn-sm btn-rounded">High End</a>
                                <a id="luxury" ng-click="toggleTag($event, 'luxury')" class="btn btn-sm btn-rounded"> Luxury</a>
                                <hr>
                            </div>



                            
                            <div >
                                <h6 class="uppercase">
                                    My details
                                </h6>
                                <div class="row">
                                    <input ng-model="currentUser.local.name" type="text" name="name" class="col-md-6" placeholder=" Full Name" />
                                    <input ng-model="currentUser.local.email" type="text" name="email" class="col-md-6" placeholder="Email" />
                                </div>
                                <div class="row">
                                    <input ng-model="currentUser.local.password" type="password" name="name" class="col-md-6" placeholder="Password" />
                                    <input style="background: #fff;border: none;height: 50px;padding-left: 20px;font-weight: 500;margin-bottom: 24px;border-radius: 0;" type="date" ng-model="currentUser.local.birthday" class="col-md-6"/>
                                </div>
                                <hr>
                            </div>

                            <div class="overflow-hidden">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <h6 class="uppercase">
                                        Social media accounts
                                    </h6>
                                </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-user"></span> Local</h3>
                                                <a ng-show="currentUser.local.email"  href="#" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.local.email" href="#" class="btn btn-md btn-rounded">Connect Local</a>
                                        </div>

                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                                                <a ng-show="currentUser.facebook.token" href="/unlink/facebook" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.facebook.token" href="/connect/facebook" class="btn btn-md btn-rounded">Connect Facebook</a>
                                        </div>

                                        <div class="col-md-4">
                                            <h3 class="text-primary"><span class="fa fa-instagram"></span> Instagram</h3>
                                                <a ng-show="currentUser.instagram.token" href="/unlink/instagram" class="btn btn-md btn-rounded">Unlink</a>
                                                <a ng-show="!currentUser.instagram.token" href="/connect/instagram" class="btn btn-md btn-rounded">Connect Instagram</a>
                                        </div>

                                    </div>


                                <hr/>
                            </div>

                            <div class="overflow-hidden">
                                <a ng-click="updateProfile()" class="btn btn-lg btn-filled">Update Profile</a>
                            </div>

                        </form>
                    </div>
                </div>
            </section>


            {{>footer}}

        </div>
    </body>
</html>