<!doctype html>
<html lang="en">
    <head>
       {{>head}}
       {{>scripts}}
    </head>
    <body ng-app='316Beauty' ng-controller='NewBrandController' ng-init='init()' class="scroll-assist">
        {{>nav}}
        <div class="main-container">
            <section class="cover fullscreen image-bg overlay">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home12.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="feature bordered text-center">
                                <h1><i class="fa fa-sign-in"></i> Brand Portal</h1>
                                
                                    <input ng-model="brand.email" type="text" class="form-control" name="email" placeholder="Email">
                                    <input ng-model="brand.password" type="password" class="form-control" name="password" placeholder="Password">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button ng-click="register()" type="submit" class="btn btn-filled btn-warning btn-lg">Signup</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button ng-click="login()" type="submit" class="btn btn-filled btn-warning btn-lg">Login</button>
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{>footer}}
        </div>
    </body>
</html>